@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* VARIABLES */
:root {
  /* FONTS */
  --FF-MAIN: "Roboto Mono", sans-serif;
  --MAIN-FONT-SIZE: 16px;
  --SMALL-FONT-SIZE: 14px;
  --MAIN-FONT-COLOR: rgb(231, 231, 231);
  --PLACEHOLDER-FONT-COLOR: rgb(156, 156, 156);
  --BUTTON-FONT-COLOR: black;

  /* BG COLORS */
  --BODY-BG-COLOR: black;
  --MAIN-BG-COLOR: #111111;
  --BUTTON-BG-COLOR: #d8f41d;
  --BUTTON-HOVER-COLOR: rgb(255, 255, 83);
  --BUTTON-DISABLED-COLOR: rgba(242, 242, 242, 0.4);
  --LINK-BG-COLOR: blue;
  --LINK-HOVER-COLOR: rgb(116, 116, 255);
  --INPUT-BG-COLOR: #050505;

  /* WIDTHS */
  --DESKTOP-PAGE-WIDTH: 65%;
}

/* GENERAL STYLES */
* {
  font-family: var(--FF-MAIN);
}

*:focus {
  outline: none;
}

body {
  color: var(--MAIN-FONT-COLOR);
  background: var(--BODY-BG-COLOR);
  font-size: var(--MAIN-FONT-SIZE);
}

h1,
h2,
h3 {
  font-weight: normal;
}

input,
textarea {
  font-family: var(--FF-MAIN);
  font-size: var(--MAIN-FONT-SIZE);
  color: var(--MAIN-FONT-COLOR);
  background-color: var(--INPUT-BG-COLOR);
}

input:focus,
textarea:focus {
  border: 1px solid white;
}

input::placeholder,
textarea::placeholder {
  color: var(--PLACEHOLDER-FONT-COLOR);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--MAIN-FONT-COLOR);
  transition: background-color 10000s ease-in-out 0s;
}

a:link {
  color: var(--LINK-BG-COLOR);
}

a:visited {
  color: var(--LINK-BG-COLOR);
}

a:hover {
  color: var(--LINK-HOVER-COLOR);
}

a:active {
  color: var(--LINK-BG-COLOR);
}

button {
  background-color: var(--BUTTON-BG-COLOR);
  color: var(--BUTTON-FONT-COLOR);
  font-size: var(--MAIN-FONT-SIZE);
  padding: 5px;
  text-align: center;
  border: none;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
}

button:disabled {
  background-color: var(--BUTTON-DISABLED-COLOR);
}

/* GENERAL CLASSES */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-container--top {
  justify-content: start;
}

.col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: var(--DESKTOP-PAGE-WIDTH);
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: var(--DESKTOP-PAGE-WIDTH);
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.faCheck--green {
  color: limegreen;
  margin-left: 0.25rem;
}

.faTimes--red {
  color: red;
  margin-left: 0.25rem;
}

/* LOGIN-SIGNUP */
.login {
  width: 100%;
  max-width: 420px;
  min-height: 340px;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 1rem;
  background-color: var(--MAIN-BG-COLOR);
}

.signup {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 1rem;
  background-color: var(--MAIN-BG-COLOR);
}

.login-signup__errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.login-signup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.login-signup__form-label {
  width: 100%;
  margin-top: 1rem;
}

.login-signup__form-input {
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.signup__instructions {
  font-size: var(--SMALL-FONT-SIZE);
  border-radius: 0.5rem;
  background: #000;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.signup__instructions-svg {
  font-size: var(--MAIN-FONT-SIZE);
  margin-right: 0.5rem;
}

.login-signup__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.login-signup__link {
  text-align: center;
}

/* STATUS */
.status {
  background-color: var(--MAIN-BG-COLOR);
  width: 100%;
  padding: 1rem;
  height: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.status__button {
  width: 140px;
  flex-shrink: 0;
}

.status__button--connecting {
  background-color: grey;
  color: black;
}

.status__button--connected {
  background-color: green;
  color: white;
}

.status__msg {
  width: 75%;
  text-align: center;
}

/* PATIENT */
.patient {
  background-color: var(--MAIN-BG-COLOR);
  gap: 2rem;
  padding: 1rem;
}

.patient__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.patient__form-label {
  width: 100%;
  margin-top: 1rem;
  align-self: center;
  letter-spacing: 1px;
  display: block;
  text-align: left;
}

.patient__form-input {
  width: 100%;
  margin-top: 0.2rem;
  align-self: center;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.patient__form-button {
  margin-top: 1rem;
}

.patient__details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.patient__details-label {
  width: 100%;
  margin-top: 1rem;
  align-self: center;
  letter-spacing: 1px;
  display: block;
  text-align: left;
}

.patient__details-input {
  width: 100%;
  margin-top: 0.2rem;
  align-self: center;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.patient__details-input:hover {
  cursor: default;
}

.patient__details-input:focus {
  outline: none;
}

.patient__details-button {
  width: 120px;
  margin-top: 1rem;
}

.patient__details-button--collecting {
  background-color: grey;
  color: black;
}
