@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* VARIABLES */
:root {
  /* FONTS */
  --FF-MAIN: "Roboto Mono", sans-serif;
  --MAIN-FONT-SIZE: 1rem;
  --MAIN-FONT-COLOR: rgb(231, 231, 231);
  --PLACEHOLDER-FONT-COLOR: rgb(156, 156, 156);
  --BUTTON-FONT-COLOR: black;

  /* BG COLORS */
  --BODY-BG-COLOR: black;
  --MAIN-BG-COLOR: #111111;
  --BUTTON-BG-COLOR: #d8f41d;
  --INPUT-BG-COLOR: #050505;

  /* WIDTHS */
  --DESKTOP-PAGE-WIDTH: 65%;
}

/* GENERAL STYLES */
* {
  font-family: var(--FF-MAIN);
}

body {
  color: var(--MAIN-FONT-COLOR);
  background: var(--BODY-BG-COLOR);
  font-size: var(--MAIN-FONT-SIZE);
}

input,
textarea {
  color-scheme: dark;
  font-family: var(--FF-MAIN);
  color: var(--MAIN-FONT-COLOR);
  background-color: var(--INPUT-BG-COLOR);
}

input::placeholder,
textarea::placeholder {
  color: var(--PLACEHOLDER-FONT-COLOR);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--MAIN-FONT-COLOR);
  transition: background-color 10000s ease-in-out 0s;
}

h1,
h2,
h3 {
  font-weight: normal;
}

button {
  background-color: var(--BUTTON-BG-COLOR);
  color: var(--BUTTON-FONT-COLOR);
  padding: 1px;
  text-align: center;
  border: none;
  height: 25px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

/* GENERAL CLASSES */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: var(--DESKTOP-PAGE-WIDTH);
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: var(--DESKTOP-PAGE-WIDTH);
}

/* STATUS */
.status {
  background-color: var(--MAIN-BG-COLOR);
  width: 100%;
  padding: 1rem;
  height: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.status__button {
  width: 125px;
}

.status__button--connecting {
  background-color: grey;
  color: black;
}

.status__button--connected {
  background-color: green;
  color: white;
}

.status__msg {
  width: 75%;
  text-align: center;
}

/* Recent Patients */
.recent-patients {
  background-color: var(--MAIN-BG-COLOR);
  padding: 1rem;
}

.select-menu {
  max-width: 330px;
}

.select-menu__button {
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.select-menu__options {
  position: absolute;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s, opacity 0.4s, z-index 2s;
}

.select-menu__options--open {
  display: block;
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.4s, z-index 0.4s;
}

.select-menu__option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu__option:hover {
  background: #f2f2f2;
}

.select-menu__option-text {
  color: #333;
}

.select-menu__button-img {
  font-size: 25px;
  transition: transform 0.3s;
}

.select-menu__button-img--open {
  transform: rotate(-180deg);
}

/* PATIENT */
.patient {
  background-color: var(--MAIN-BG-COLOR);
  gap: 2rem;
  padding: 1rem;
}

.patient__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.patient__form-label {
  width: 100%;
  margin-top: 1rem;
  align-self: center;
  letter-spacing: 1px;
  display: block;
  text-align: left;
}

.patient__form-input {
  width: 100%;
  margin-top: 0.2rem;
  align-self: center;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.patient__form-button {
  margin-top: 1rem;
}

.patient__details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.patient__details-label {
  width: 100%;
  margin-top: 1rem;
  align-self: center;
  letter-spacing: 1px;
  display: block;
  text-align: left;
}

.patient__details-input {
  width: 100%;
  margin-top: 0.2rem;
  align-self: center;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.patient__details-input:hover {
  cursor: default;
}

.patient__details-input:focus {
  outline: none;
}

.patient__details-button {
  width: 120px;
  margin-top: 1rem;
}

.patient__details-button--collecting {
  background-color: grey;
  color: black;
}
