@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

/* VARIABLES */
:root {
  /* FONTS */
  --FF-MAIN: "Roboto Mono", sans-serif;
  --MAIN-FONT-SIZE: 16px;
  --SMALL-FONT-SIZE: 14px;
  --MAIN-FONT-COLOR: rgb(231, 231, 231);
  --PLACEHOLDER-FONT-COLOR: rgb(156, 156, 156);
  --BUTTON-FONT-COLOR: black;
  --BUTTON-SUCCESS-FONT-COLOR: rgb(231, 231, 231);
  --BUTTON-LOADING-FONT-COLOR: black;
  --DROPDOWN-FONT-COLOR: rgb(231, 231, 231);

  /* BG COLORS */
  --BODY-BG-COLOR: black;
  --MAIN-BG-COLOR: rgb(17, 17, 17);
  --ALT-BG-COLOR: rgb(69, 69, 69);
  --BUTTON-BG-COLOR: rgb(216, 244, 29);
  --BUTTON-SUCCESS-BG-COLOR: green;
  --BUTTON-LOADING-BG-COLOR: gray;
  --BUTTON-HOVER-COLOR: rgb(255, 255, 83);
  --BUTTON-SUCCESS-HOVER-COLOR: rgb(0, 162, 0);
  --BUTTON-LOADING-HOVER-COLOR: rgb(152, 152, 152);
  --BUTTON-DISABLED-BG-COLOR: rgba(242, 242, 242, 0.4);
  --LINK-BG-COLOR: blue;
  --LINK-HOVER-COLOR: rgb(116, 116, 255);
  --INPUT-BG-COLOR: rgb(5, 5, 5);
  --INPUT-BORDER-COLOR: gray;
  --INPUT-BORDER-HOVER-COLOR: white;
  --DROPDOWN-HOVER-COLOR: rgb(122, 122, 122);

  /* WIDTHS */
  --DESKTOP-PAGE-WIDTH: 65%;
}

/* GENERAL STYLES */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

* {
  font-family: var(--FF-MAIN);
}

*:focus {
  outline: none;
}

*:hover {
  outline: none;
}

body {
  color: var(--MAIN-FONT-COLOR);
  background: var(--BODY-BG-COLOR);
  font-size: var(--MAIN-FONT-SIZE);
}

h1,
h2,
h3 {
  font-weight: normal;
}

input,
textarea {
  font-family: var(--FF-MAIN);
  font-size: var(--MAIN-FONT-SIZE);
  color: var(--MAIN-FONT-COLOR);
  background-color: var(--INPUT-BG-COLOR);
}

input:focus,
textarea:focus {
  border: 1px solid var(--INPUT-BORDER-HOVER-COLOR);
}

input::placeholder,
textarea::placeholder {
  color: var(--PLACEHOLDER-FONT-COLOR);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-text-fill-color: var(--MAIN-FONT-COLOR);
  caret-color: var(--MAIN-FONT-COLOR);
  transition: background-color 10000s ease-in-out 0s;
}

a:link {
  color: var(--LINK-BG-COLOR);
}

a:visited {
  color: var(--LINK-BG-COLOR);
}

a:hover {
  color: var(--LINK-HOVER-COLOR);
}

a:active {
  color: var(--LINK-BG-COLOR);
}

button {
  background-color: var(--BUTTON-BG-COLOR);
  color: var(--BUTTON-FONT-COLOR);
  font-size: var(--MAIN-FONT-SIZE);
  padding: 5px;
  text-align: center;
  border: none;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--BUTTON-HOVER-COLOR);
}

button:disabled {
  background-color: var(--BUTTON-DISABLED-BG-COLOR);
}

/* GENERAL CLASSES */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.col-container {
  background-color: var(--MAIN-BG-COLOR);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: var(--DESKTOP-PAGE-WIDTH);
}

.row-container {
  background-color: var(--MAIN-BG-COLOR);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: var(--DESKTOP-PAGE-WIDTH);
}

.main-input-label {
  width: 100%;
  margin-top: 16px;
}

.main-input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--INPUT-BORDER-COLOR);
}

.input-instructions {
  font-size: var(--SMALL-FONT-SIZE);
  border-radius: 8px;
  background-color: var(--BODY-BG-COLOR);
  padding: 4px;
  position: relative;
  bottom: -10px;
}

.input-instructions-svg {
  font-size: var(--MAIN-FONT-SIZE);
  margin-right: 8px;
}

.button-loading {
  background-color: var(--BUTTON-LOADING-BG-COLOR);
  color: var(--BUTTON-LOADING-FONT-COLOR);
}

.button-loading:hover {
  background-color: var(--BUTTON-LOADING-HOVER-COLOR);
}

.button-success {
  background-color: var(--BUTTON-SUCCESS-BG-COLOR);
  color: var(--BUTTON-SUCCESS-FONT-COLOR);
}

.button-success:hover {
  background-color: var(--BUTTON-SUCCESS-HOVER-COLOR);
}

.line-divider {
  border: 1px solid var(--DROPDOWN-FONT-COLOR);
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid-input {
  color: limegreen;
  margin-left: 4px;
}

.invalid-input {
  color: red;
  margin-left: 4px;
}

/* LOGIN-SIGNUP */
.login {
  width: 100%;
  max-width: 420px;
  min-height: 340px;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 64px;
  padding: 16px;
  background-color: var(--MAIN-BG-COLOR);
}

.signup {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 64px;
  padding: 16px;
  background-color: var(--MAIN-BG-COLOR);
}

.login-signup__errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 8px;
}

.login-signup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 16px;
}

.login-signup__button {
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: center;
}

.login-signup__link {
  text-align: center;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 16px;
  gap: 16px;
}

/* STATUS */
.status {
  background-color: var(--MAIN-BG-COLOR);
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  align-items: center;
}

.status__button {
  width: 140px;
  flex-shrink: 0;
}

.status__msg {
  width: 75%;
  text-align: center;
}

/* DOCTOR PROFILE */
.dropdown {
  position: relative;
  text-align: center;
}

.dropdown__img {
  --fa-border-radius: 32px;
  --fa-border-padding: 8px;
  --fa-border-width: 2px;
  --fa-border-color: var(--ALT-BG-COLOR);
  color: var(--ALT-BG-COLOR);
  cursor: pointer;
}

.dropdown__content {
  display: none;
  background-color: var(--ALT-BG-COLOR);
  width: 200px;
  border-radius: 10px;
  position: absolute;
  padding: 8px;
  z-index: 1;
  right: -75px;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__name {
  color: var(--DROPDOWN-FONT-COLOR);
  padding: 8px;
}

.dropdown__item {
  color: var(--DROPDOWN-FONT-COLOR);
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown__item:hover {
  background-color: var(--DROPDOWN-HOVER-COLOR);
}

/* PATIENT */
/* PATIENT SEARCH */
.patient__search {
  width: 400px;
}

.patient__search-bar {
  border: 1px solid var(--INPUT-BORDER-COLOR);
  border-radius: 8px;
  padding: 8px;
  background-color: var(--BODY-BG-COLOR);
  display: flex;
  align-items: center;
}

.patient__search-bar--selected {
  border: 1px solid var(--INPUT-BORDER-HOVER-COLOR);
}

.patient__search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 4px;
}

.patient__search-input:focus {
  outline: none;
  border: none;
}

.patient__search-list {
  width: 400px;
  background-color: var(--BODY-BG-COLOR);
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  overflow-y: auto;
}

.patient__search-item {
  cursor: pointer;
  padding: 8px 20px;
}

.patient__search-item:hover {
  background-color: var(--ALT-BG-COLOR);
}

/* PATIENT DETAILS */
.patient__details {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
  align-items: center;
}

.patient__details-input {
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.patient__details-input:hover {
  cursor: default;
}

.patient__details-input:focus {
  outline: none;
  border: none;
}

.patient__details-button {
  width: 120px;
}

/* INSERT PATIENT */
.patient__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 16px;
}

.patient__form-button {
  margin-top: 16px;
  align-self: center;
}
